<!DOCTYPE html>
<html lang="en" ng-app="hanCoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Styling Part -->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- My custom CSS -->
    <link rel="stylesheet" href="./asset/css/commonCSS.css">

    <!-- AngularJS dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>

    <!-- Razorpay dependency -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- Angular Modules -->
    <script src="./src/app.module.js"></script>
    <script src="./src/app.routes.js"></script>
    <script src="./src/modules/home/homeContoller.js"></script>
    <script src="./src/modules/user/userController.js"></script>
    <script src="./src/modules/admin/adminController.js"></script>
    <script src="./src/modules/nav/navController.js"></script>
    <script src="./src/modules/suppliers/suppliersController.js"></script>
    <script src="./src/modules/products/productController.js"></script>
    <script src="./src/modules/cart/cartController.js"></script>
    <script src="./src//modules//checkOut/checkOutController.js"></script>
    <script src="./src/modules/checkOut/paymentController.js"></script>
    <script src="./src/modules/orders/ordersController.js"></script>

</head>

<body>
    <div style="" class="">
        <div class="navbar z-depth-2" ng-controller="navController as navCtrl">
            <nav class="transparent z-depth-0">
                <div class="nav-wrapper">
                    <a id="nav-link" href="#!" class="brand-logo">The HanCo.</a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a id="nav-link" href="#!/home">Home</a>
                        </li>
                        <li>
                            <a id="nav-link" href="#!/products">Products</a>
                        </li>
                        <li>
                            <a id="nav-link" class="dropdown-trigger" data-target="categoryDropdown">Categories
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                        <li ng-show="currentUser.role=='ADMIN'">
                            <a id="nav-link" href="#!/admin">Admin</a>
                        </li>
                        <li ng-show="currentUser.role=='ADMIN' || currentUser.role=='SUPPLIER'">
                            <a id="nav-link" href="#!/suppliers">Supplier</a>
                        </li>
                        <li ng-show="!currentUser">
                            <a id="nav-link" class="modal-trigger" data-target="register-modal">Register</a>
                        </li>
                        <li ng-show="currentUser">
                            <a id="nav-link" href="#!/cart">Cart</a>
                        </li>
                        <li ng-show="currentUser">
                            <a id="nav-link" href="#!/orders">Orders</a>
                        </li>
                        <li ng-show="!currentUser" ng-click="navCtrl.loginCard()">
                            <a id="nav-link">Login</a>
                        </li>
                        <li ng-show="currentUser" ng-click="logout()">
                            <a id="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    <!-- Dropdown Structure -->
    <ul id='categoryDropdown' class='dropdown-content'>
        <li>
            <a class="red-text darken-5" href="#!/products/handicrafts">Handicrafts</a>
        </li>
        <li>
            <a class="red-text darken-5" href="#!/products/corporateGifts">Corporate Gifts</a>
        </li>
        <li>
            <a class="red-text darken-5" href="#!/products/festivalGifts">Festival Gifts</a>
        </li>
    </ul>

    <ng-view></ng-view>

    <!-- ------------------------------------------------------------------------------------------------------------------------------ -->

    <div ng-controller="userController as userCtrl">
        <!-- Registration Modal -->
        <div id="register-modal" class="modal">
            <div class="modal-content">
                <form>
                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input type="text" id="first_name" ng-model="user.firstName" class="validate" required="true">
                            <label for="first_name" data-error="Name is required">First Name</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <input type="text" id="last_name" ng-model="user.lastName" class="validate" required="true">
                            <label for="last_name" data-error="Name is required">Last Name</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <input type="email" id="_email" ng-model="user.email" class="validate" required="true">
                        <label for="_email" data-error="Invalid E-Mail" data-success="right">E-Mail</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" id="_password" ng-model="user.password" class="validate" required="true">
                        <label for="_password" data-error="Password is required">Password</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input type="text" id="phone" ng-model="user.phone" minlength="10" maxlength="10" class="validate" required="true">
                        <label for="phone" data-error="Invalid">Phone</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input ng-show="!isLoader" ng-click="register()" type="submit" class="waves-effect waves-light btn orange" value="Register"
                            class="validate">
                        <div ng-show="isLoader" class="preloader-wrapper active">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <!-- MaterializeCSS initialization script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            const options = {
                autoTrigger: true,
                hover: true
            }
            var instances = M.Dropdown.init(elems, options);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            const options = {};
            var instances = M.Modal.init(elems, options);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            const options = {};
            var instances = M.Sidenav.init(elems, options);
        });


    </script>

</body>

</html>