body{
    /* background-image: url('../images/home_back2.jpg'); 
    background-repeat:no-repeat;  
    background-size: 100% 35rem; */

    background-color: #f0e7e7;
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: #f26b43 3px solid;

    background-color: #ef5350;
}


/*
    Style to hide scrollbar
*/
#register-modal{
    max-height: 100% !important ; 
    overflow-y: hidden !important ;
}

.product-card{
    max-height: 50rem;
    height: 30rem
}