.my-side{
    top: 5rem;
    max-width: 25%
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: #f26b43 3px solid;

    background-color: #be5151;
}

body{
    background-color: #f0e7e7;
}

#nav-link{
    color: #ffffff
}

body{
    /* max-height: 100% !important ; 
    overflow-y: hidden !important ; */
}

.product-card{
    max-height: 22rem !important ; 
    overflow-y: scroll !important ;
}
