.my-side{
    top: 5rem;
    max-width: 25%
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: #f26b43 3px solid;

    background-color: #969292;
}

body{
    background-color: #afaaaa;
}

#nav-link{
    color: #fdd1c4
}

body{
    max-height: 100% !important ; 
    overflow-y: hidden !important ;
}

.product-card{
    height: 32rem !important ;
    max-height: 32rem !important ; 
    overflow-y: scroll !important ;
}

.inner-card{
    min-height: 2rem
}
