.my-side{
    top: 5rem;
    max-width: 25%
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: #f26b43 3px solid;

    background-color: #be5151;
}

body{
    background-color: #ffffff;
}

#nav-link{
    color: #ffffff
}

body{
    max-height: 100% !important ; 
    overflow-y: hidden !important ;
}

.product-card{
    height: 32rem !important ;
    max-height: 32rem !important ; 
    overflow-y: scroll !important ;
}

.inner-card{
    min-height: 2rem
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(177, 50, 50);
    box-shadow: 0 1px 0 0 rgb(177, 50, 50);
}