<div class="row">
    <div class="col s12 m8 l8">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">Add Products</span>
                <hr>
                <form ng-submit="addProduct()">
                    <div class="input-field col s12 l6">
                        <input type="text" required id="name" ng-model="product.name" class="validate" />
                        <label class="{{active}}" for="name">Name</label>
                    </div>

                    <div class="input-field col s12 l6">
                        <input type="number" ng-model="product.price" required id="unitPrice" class="validate" />
                        <label class="{{active}}" for="unitPrice">Unit Price</label>
                    </div>

                    <div class="input-field col s12 l6">
                        <input type="number" ng-model="product.quantity" required id="quantity" class="validate" />
                        <label class="{{active}}" for="quantity">Quantity</label>
                    </div>

                    <div class="input-field col s12 l6">
                        <select ng-model="product.category" required>
                            <option value="" disabled selected>Select Category</option>
                            <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
                        </select>
                        <label>Category</label>
                    </div>

                    <div class="input-field col s12 l12" style="height: 300px; max-height: 300px">
                        <div class="col s12 m6 l6">
                            <label class="{{active}}" for="">Select an Image : </label>
                            <input type="file" required ng-model="product.image" required id="file" class="form-control" ngf-select ngf-pattern="'image/*'"
                                accept="image/*" ngf-max-size="20MB" />
                        </div>
                        <div class="col s12 m6 l6">
                            <img class="responsive" height="300px" ngf-thumbnail="product.image" />
                        </div>
                    </div>
                    <div class="input-field col s12 l12">
                        <div class="col s12 m4 l4">
                            <label>
                                <input name="group1" type="radio" ng-model="product.section" value="handicrafts" checked />
                                <span>Handicrafts</span>
                            </label>
                        </div>
                        <div class="col s12 m4 l4">
                            <label>
                                <input name="group1" type="radio" ng-model="product.section" value="corporateGifts" />
                                <span>Corporate Gifts</span>
                            </label>
                        </div>
                        <div class="col s12 m4 l4">
                            <label>
                                <input name="group1" type="radio" ng-model="product.section" value="festivalGifts" />
                                <span>Festival Gifts</span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-4">
                        <button type="button" data-target="descriptionModal" class="btn modal-trigger">Add Description</button>
                        <button type="button" data-target="myCategoryModal" class="btn modal-trigger">Add New Category</button>
                        <input ng-show="!productLoader" type="submit" value="Submit" class="btn btn-ani" />
                        <div ng-show="productLoader" class="preloader-wrapper active">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card hoverable">
            <div class="card-content">
                <div class="">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <span class="card-title">Products</span>
                        </div>
                        <div class="col s12 m6 l6">
                            <div class="row">
                                <div class="col s8 m8 l8">
                                    <input id="search" type="search" placeholder="Search" ng-model="search">
                                </div>
                                <div class="col s4 m4 l4">
                                    <button class="btn orange">
                                        <i class="material-icons">search</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <table class="responsive-table highlight stripped bordered">
                    <thead>
                        <tr>
                            <th data-field="id">Name</th>
                            <th data-field="name">Image</th>
                            <th data-field="price">Price</th>
                            <th data-field="price">Quantity</th>
                            <th data-field="price">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products">
                            <td>{{product.name}}</td>
                            <td>{{}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.quantity}}</td>
                            <td>
                                <button class="btn orange" ng-click="edit($index)">
                                    <i class="material-icons">edit</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="disabled">
                        <a>
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    <li class="active orange">
                        <a>1</a>
                    </li>
                    <li class="waves-effect">
                        <a>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l4">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">Your Profile</span>
                <hr>
                <h5>{{currentUser.firstName}}</h5>
                <p>{{currentUser.email}}</p>
                <p>{{currentUser.phone}}</p>
            </div>
        </div>
        <div class="card hoverable blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title center">Recieved Orders</span>
                <hr>
            </div>
        </div>
        <div class="card hoverable" ng-repeat="order in orders">
            <div class="card-content">
                <span class="card-title">{{order.cartItem.product.name}}</span>
                <p>{{order.cartItem.product._id}}</p>
                <hr>
                <strong>{{order.address.name}}</strong>
                <p>{{order.address.doorNumber}}</p>
                <p>{{order.address.street}}</p>
                <p>{{order.address.city}}</p>
                <p>{{order.address.state}}</p>
                <p>Near {{order.address.landmark}}</p>
                <p>{{order.address.postalCode}}</p>
                <br>
                <div class="">
                    <button ng-show="!order.cartItem.isApproved" style="width: 100%" ng-click="approve($index)" class="btn orange waves-effect waves-light darken-3">Confirm</button>

                    <div class="row" ng-show="order.cartItem.isApproved">
                        <div class="col s12 l4 l6">
                            <button ng-show="!order.cartItem.isPacked" ng-click="pack($index)" class="btn orange waves-effect waves-light darken-3">Packed</button>
                            <a ng-show="order.cartItem.isPacked" class="green-text">
                                <i class="material-icons ">done</i>Packed</a>
                        </div>
                        <div class="col s12 l4 l6">
                            <button ng-show="!order.cartItem.isShipped" data-target="dispatchModal" ng-disabled="!order.cartItem.isPacked" ng-click="setCurrentOrder($index)"
                                class="modal-trigger btn green waves-effect waves-light darken-3">Dispatched</button>
                            <a ng-show="order.cartItem.isShipped" class="green-text">
                                <i class="material-icons ">done_all</i>Dispatched</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="dispatchModal" class="modal">
    <div class="modal-content">
        <h4>Dispatch Details</h4>
        <form ng-submit="suppliersCtrl.dispatch()">
            <div class="input-field col s12 l6">
                <input ng-model="suppliersCtrl.dispatch.courierName" required type="text" id="courierName" class="validate">
                <label for="courierName">Courier Name</label>
            </div>
            <div class="input-field col s12 l6">
                <input ng-model="suppliersCtrl.dispatch.trackingId" required type="text" id="trackingId" class="validate">
                <label for="trackingId">Tracking Id</label>
            </div>
            <input ng-show="!suppliersCtrl.dispatchLoader" type="submit" value="Dispatch" class="btn orange waves-effect waves-light darken-3">
            <div class="preloader-wrapper small active" ng-show="suppliersCtrl.dispatchLoader">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Description Modal -->
<div id="descriptionModal" class="modal">
    <div class="modal-content">
        <h4>Description</h4>
        <form ng-submit="addCategory()">
            <div class="input-field col s12 l6">
                <input type="text" id="material" ng-model="product.description.material" />
                <label for="material">Material of Product</label>
            </div>
            <div class="input-field col s12 l6">
                <input type="text" id="height" ng-model="product.description.height" />
                <label for="height">Height</label>
            </div>
            <div class="input-field col s12 l6">
                <input type="text" id="width" ng-model="product.description.width" />
                <label for="width">Width</label>
            </div>
            <div class="input-field col s12 l6">
                <input type="text" id="weight" ng-model="product.description.weight" />
                <label for="weight">Weight</label>
            </div>
            <div class="input-field col s12 l6">
                <textarea type="text" id="otherDetails" ng-model="product.description.otherDetails" class="materialize-textarea"></textarea>
                <label for="otherDetails">Other Details</label>
            </div>

            <input type="submit" value="Add Description" class="btn" onclick="$('#descriptionModal').modal('close')" />

        </form>
    </div>
</div>

<!-- <center>
    <div class="card" style="background: url('./asset/images/back7.jpg') ;max-width: 700px;">
        <div class="card-header">
            <center>
                <h3>Product Management.</h3>
            </center>
        </div>
        <div class="card-block">
            <form class="form-horizontal m-4" ng-submit="addProduct()">
                <div class="form-group row">
                    <label class="control-label col-md-4" style="text-align: center">Name : </label>
                    <div class="col-md-8">
                        <input type="text" id="name" ng-model="product.name" class="form-control" placeholder="Product Name" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-4" style="text-align: center">Unit Price : </label>
                    <div class="col-md-8">
                        <input type="number" ng-model="product.price" id="unitPrice" class="form-control" placeholder="Unit price in Rs." />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-4" style="text-align: center">Quantity : </label>
                    <div class="col-md-8">
                        <input type="number" ng-model="product.quantity" id="quantity" class="form-control" placeholder="Quantity Available" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-4" style="text-align: center">Select an Image : </label>
                    <div class="col-md-4">
                        <input type="file" ng-model="product.image" id="file" class="form-control" ngf-select ngf-pattern="'image/*'" accept="image/*"
                            ngf-max-size="20MB" />
                    </div>
                    <div class="col-md-4">
                        <img class="img-thumbnail" ngf-thumbnail="product.image" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-4" style="text-align: center">Category : </label>
                    <div class="col-md-8">
                        <select id="categoryId" ng-model="product.category.name" class="form-control" itemLabel="name" itemValue="id">
                            <option value="" class="active">Select Category</option>
                            <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" data-toggle="modal" data-target="#descriptionModal" class="btn btn-secondary btn-xs">Add Description</button>
                    <button type="button" data-toggle="modal" data-target="#myCategoryModal" class="btn btn-secondary btn-xs">Add New Category</button>
                </div>
                <div class="mb-4">
                    <input type="submit" value="Submit" class="btn btn-ani" />
                </div>
        </div>
    </div>
</center>

<br>
<br>
<br>

<div class="card">
    <div class="card-body">
        <div class="row">

            <div class='col-xs-12 col-lg-12'>
                <center>
                    <hr>
                    <h1>List Of Available Products</h1>
                    <hr>
                </center>
            </div>


            <div class='col-xs-12 col-lg-12'>

                <div style="overflow: auto">

                    <table id="supplierProductsTable" class="table table-condensed table-striped table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>&#160;</th>
                                <th>Name</th>
                                <th>Qty. Avail</th>
                                <th>Unit Price</th>
                                <th>Activate</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products">
                                <td>
                                    <img class="img-thumbnail" src="http://localhost:8000/images/uploades/images/56c880b3a14c217c3b7ead3dbb5c6363.jpg" id="supplierDataTableImg" alt="">
                                </td>
                                <td>{{product.name}}</td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.price}}</td>
                                <td>
                                    <span class="switch">
                                        <input checked="checked" type="checkbox" class="in switch" id="switch" style="margin: 0;">
                                        <label class="labe" for="switch">Activate</label>
                                    </span>
                                </td>
                                <td>
                                    <a href="" class="btn btn-ani edit">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>&#160;</th>
                                <th>Name</th>
                                <th>Qty. Avail</th>
                                <th>Unit Price</th>
                                <th>Activate</th>
                                <th></th>
                            </tr>
                        </tfoot>


                    </table>

                </div>

            </div>


        </div>

    </div>
</div> -->

<!-- Adding new Category modal -->
<!-- <div class="modal fade" id="myCategoryModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: url('./asset/images/back9.jpg') ">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="registerModalTitle">Add New Category</h3>
                <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="categoryForm" class="form-horizontal" ng-submit="addCategory()">
                    <div class="form-group">
                        <label for="category_name" class="control-label col-md-4">Category Name</label>
                        <div class="col-12">
                            <input type="text" id="category_name" class="form-control" ng-model="category.name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 col-lg-12">
                            <input type="submit" value="Add Category" ng-click="addCategory()" class="btn btn-ani" style="margin: auto;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 -->
<!-- Add description modal -->
<!-- <div class="modal fade" id="descriptionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: url('./asset/images/back9.jpg') ">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="registerModalTitle">Description for {{product.name}}</h3>
                <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="categoryForm" class="form-horizontal" ng-submit="addCategory()">
                    <div class="form-group">
                        <label for="material" class="control-label col-md-4">Material of Product</label>
                        <div class="col-12">
                            <input type="text" id="material" class="form-control" ng-model="product.description.material" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="height" class="control-label col-md-4">Height</label>
                        <div class="col-12">
                            <input type="text" id="height" class="form-control" ng-model="product.description.height" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="width" class="control-label col-md-4">Width</label>
                        <div class="col-12">
                            <input type="text" id="width" class="form-control" ng-model="product.description.width" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weight" class="control-label col-md-4">Weight</label>
                        <div class="col-12">
                            <input type="text" id="weight" class="form-control" ng-model="product.description.weight" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="otherDetails" class="control-label col-md-4">Other Details</label>
                        <div class="col-12">
                            <textarea type="text" id="otherDetails" class="form-control" ng-model="product.description.otherDetails"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 col-lg-12">
                            <input type="submit" value="Add Category" ng-click="addCategory()" class="btn btn-ani" style="margin: auto;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->